.stack_item {
  height: 400px;
  border: 2px solid darkslategray;
  padding: 1em;
  text-align: center;
  width: 30%;
  margin: .75em;
  h3 {
    text-transform: uppercase;
  }
}

.stack_item-image {
  height: 40%;
}

.stack_item-content {
  text-transform: uppercase;
}

.columns_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}