@import "../index.scss";

.text_box {
  border: 10px solid $primaryColor;
  box-shadow: 20px 10px darkslategrey;
  padding: 3em 5em;
  text-transform: uppercase;
  backdrop-filter: blur(8px);
    width: 60%;
    span {
      color: $accentText;
    }
}